/* BeloteChallenge.less */

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 200px; /* Ajustez la largeur de la carte */
  height: 300px; /* Ajustez la hauteur de la carte */
  background-size: cover;
  background-position: center;
  position: relative;
}

.piocher-button {
  position: absolute;
  bottom: 20px; /* Ajustez la position verticale du bouton */
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Centre horizontalement */
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px; /* Ajustez la taille de la police */
  cursor: pointer;
}

