@import "../colors";

.score
{
	.games
	{
		display: flex;
		flex-direction: row;
	}

	.score
	{

		text-align: center;


		h2
		{
			font-weight: bold;
		}

		h2, .button
		{
			margin-bottom: 0.5em;
		}
		
		table{
			width:100%;
			color:aliceblue;
		}
		tr {	
			background-color: #16520a;
			text-align: center;

		}
		td {
			padding: 8px;
			text-align: center;

		}
		padding: 0.5em 1em;
		border-radius: 0.5em;
		box-shadow: 0 0 0.33em 0 rgba(0, 0, 0, 0.15);
	}
}
